name: Phoenix V50 Ghost

on:
  workflow_dispatch: # Allows manual trigger button
  schedule:
    - cron: '0 */6 * * *' # Auto-runs every 6 hours

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install Google Chrome
      run: |
        wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable

    - name: Install Dependencies
      run: |
        pip install selenium

    - name: Run V50 Ghost Protocol
      env:
        INSTA_COOKIE: ${{ secrets.INSTA_COOKIE }}
        TARGET_THREAD_ID: ${{ secrets.TARGET_THREAD_ID }}
        MESSAGES: ${{ secrets.MESSAGES }}
      run: python main.py
      
    - name: Upload Debug Screenshots (If Crashed)
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: debug-screenshots
        path: "*.png"
